@using Humanizer;
@model WebApplication.Models.TaskGroupDependency

@{
    ViewData["Title"] = "Create - " + "TaskGroupDependency".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4> @("TaskGroupDependency".Humanize(LetterCasing.Title))</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AncestorTaskGroupId" class="control-label"></label>
                <select asp-for="AncestorTaskGroupId" class ="form-control" asp-items="ViewBag.AncestorTaskGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DescendantTaskGroupId" class="control-label"></label>
                <select asp-for="DescendantTaskGroupId" class ="form-control" asp-items="ViewBag.DescendantTaskGroupId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DependencyType" class="control-label"></label>
                <input asp-for="DependencyType" class="form-control" />
                <span asp-validation-for="DependencyType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary" ><i class="fa fa-arrow-circle-left"></i> Back</a>            
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


