@page
@model WebApplication.Pages.ClaimsModel

<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive table-striped">
            <thead>
                <tr><td>My Roles</td></tr>
            </thead>
            @if (HttpContext.User.Identity.IsAuthenticated)
            {
            <tr>
                <td>UserName:  @HttpContext.User.Identity.</td>
            </tr>
            <tr>
                <td>Roles:</td>
            </tr>
                    foreach (var c in Model.Roles)
                    {
            <tr>
                <td>Role: @c</td>
            </tr>
                    }

            <tr>
                <td>Claims:</td>
            </tr>
                    foreach (var c in Model.Claims.Claims)
                    {
            <tr>
                <td>@c.ToString()</td>
            </tr>
                    }
            }
            else
            {
            <tr>
                <td>Current Status</td>
                <td><strong>Not Authenticated</strong></td>
            </tr>
            }
        </table>
    </div>
</div>
