@{
    ViewData["Title"] = "ADFPipelineStats";
}

<h1>ADF Pipeline Statistics)</h1>
<table id="adsgofast_tablelist" class="table table-striped">
    <thead class="thead">
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        var ModelName = "AdfpipelineStats";


        $(document).ready(function () {
            DataTablesGridPrep();
        });
    </script>
}  