<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$AdsGoFastDataLakeAccelFunAppPrem</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adsgofastdatalakeaccelfunappprem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/035a1364-f00d-48e2-b582-4fe125905ee3/resourceGroups/AdsGoFastDataLakeAccel/providers/Microsoft.Web/sites/AdsGoFastDataLakeAccelFunAppPrem</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://adsgofastdatalakeaccelfunappprem.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>