@using System.Security.Claims
@using  Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@{
    string name =
       httpContextAccessor.HttpContext.User.FindFirst("name").Value;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADS Go Fast</title>
    @*<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/jquery-jsonview/jquery.jsonview.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/datatables.net/select.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
    <link rel="stylesheet" href="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" />
    <link rel="icon" type="image/icon" href="~/favicon.ico" />

</head>
<body>
    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar" class="bg-light border-right">
            <div class="sidebar-header">
                <div class="row">
                    <div class="col">
                        <a asp-area="" asp-controller="Dashboard" asp-action="Index">
                            <img class="mx-auto d-block" src="~/img/brand.png" style="height:60px" />
                        </a>
                    </div>
                </div>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#pageSubmenuAdv" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Advanced Settings</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuAdv">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="FrameworkTaskRunner" asp-action="IndexDataTable"><i class="fas fa-running" style="width:16px" title=""></i> Framework Task Runners</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="SourceAndTargetSystems" asp-action="IndexDataTable"><i class="fas fa-bullseye" style="width:16px" title=""></i> Source and Target Systems</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="SourceAndTargetSystemsJsonSchema" asp-action="IndexDataTable"><i class="fab fa-js" style="width:16px" title=""></i> Source / Target System JSON Schema</a>
                            <a class="dropdown-item" asp-area="" asp-controller="DataFactory" asp-action="IndexDataTable"><i class="fas fa-industry" style="width:16px" title=""></i> Data Factories</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenuSchedules" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Schedules</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuSchedules">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="ScheduleMaster" asp-action="IndexDataTable">
                                <i class="fas fa-calendar-week" style="width:16px" title=""></i> Schedule Masters
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="ScheduleInstance" asp-action="IndexDataTable">
                                <i class="fas fa-calendar-day" style="width:16px" title=""></i> Schedule Instances
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenuTasks" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tasks</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuTasks">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="SubjectArea" asp-action="IndexDataTable">
                                <i class="fas fa-layer-group" style="width:16px" title=""></i> Subject Areas
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskGroup" asp-action="IndexDataTable">
                                <i class="fas fa-object-group" style="width:16px" title=""></i> Task Groups
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskMaster" asp-action="IndexDataTable">
                                <i class="fas fa-list" style="width:16px" title=""></i> Task Masters
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskInstance" asp-action="IndexDataTable">
                                <i class="fas fa-list-alt" style="width:16px" title=""></i> Task Instances
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskMasterWaterMark" asp-action="IndexDataTable">
                                <i class="fas fa-water" style="width:16px" title=""></i> Task Master Water Mark
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskGroupDependency" asp-action="IndexDataTable">
                                <i class="fas fa-indent" style="width:16px" title=""></i> Task Group Dependencies
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskInstanceExecution" asp-action="IndexDataTable">
                                <i class="fas fa-bolt" style="width:16px" title=""></i>Task Instance Executions
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenuTaskTypes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Task Types</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuTaskTypes">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskType" asp-action="Index">
                                <i class="fab fa-tumblr-square" style="width:16px" title=""></i> Task Types
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="TaskTypeMapping" asp-action="IndexDataTable">
                                <i class="fas fa-map-marked-alt" style="width:16px" title=""></i> Task Type Mappings
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenuConfigWiz" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Configuration Wizards</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuConfigWiz">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Wizards" asp-action="ExternalFileUpload">
                                <i class="fas fa-magic" style="width:16px" title=""></i> Allow External Parties to Upload Data
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenuReports" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuReports">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="ReportsAndStatistics" asp-action="IndexDataTable" asp-route-StatsLevel="TaskGroup">
                                <i class="fas fa-object-group" style="width:16px" title=""></i> View Task Group Statistics
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="ReportsAndStatistics" asp-action="IndexDataTable" asp-route-StatsLevel="TaskMaster">
                                <i class="fas fa-list" style="width:16px" title=""></i> View Task Master Statistics
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="ReportsAndStatistics" asp-action="IndexDataTable" asp-route-StatsLevel="TaskInstance">
                                <i class="fas fa-list-alt" style="width:16px" title=""></i> View Task Instance Statistics
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="ReportsAndStatistics" asp-action="IndexDataTable" asp-route-StatsLevel="TaskInstanceExecution">
                                <i class="fas fa-bolt" style="width:16px" title=""></i> View Task Instance Execution Statistics
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="ReportsAndStatistics" asp-action="IndexDataTable" asp-route-StatsLevel="ScheduleInstance">
                                <i class="fas fa-calendar-day" style="width:16px" title=""></i> View Schedule Instance Statistics
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenuLogs" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Logs</a>
                    <ul class="collapse list-unstyled" id="pageSubmenuLogs">
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="AFExecutionSummary" asp-action="IndexDataTable">
                                <i class="fas fa-scroll" style="width:16px" title=""></i> View Azure Function Execution Summary
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="AFLogMonitor" asp-action="IndexDataTable">
                                <i class="fas fa-scroll" style="width:16px" title=""></i> View Azure Function Log Tail
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-link">
                <div>&nbsp;User: @name</div>
            </a>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <header class="sticky-top">
                <nav class="navbar navbar-expand-md navbar bg header-center">
                    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav">*@
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>View Menu</span>
                        </button>

                        <div class="helpIcon fab">
                            <div>
                                <i onclick="toggleHelpVisibility()"
                                   style="font-size: 40px;" class="far fa-question-circle"></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="row">
                <div id="mainBody" class="col-12">
                    <div class="container-fluid">
                        <main role="main" class="pb-3 content-container" style="margin-bottom:80px">
                            @RenderBody()
                        </main>
                    </div>
                </div>

                <div id="helpSection" class="col-3 help-container dismiss" style="display: none;">
                    @Html.Partial("_Help")
                </div>

            </div>


            <footer class="border-top footer bg text-muted">
                <div class="container">
                    &copy; 2021 - Microsoft - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
        <!-- Dark Overlay element -->
        <div class="overlay"></div>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-jsonview/jquery.jsonview.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net/buttons.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net/dataTables.select.min.js" asp-append-version="true"></script>
    <script src="~/lib/moment.js/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js" asp-append-version="true"></script>
    <script src="~/js/helpSection.js" asp-append-version="true"></script>
    <script src="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
