@using Humanizer;
@model IEnumerable<WebApplication.Models.TaskGroup>

@{
    ViewData["Title"] = typeof(TaskGroup).Name.Pluralize().Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><i id="PageIcon" class="fas fa-object-group"></i> @typeof(TaskGroup).Name.Pluralize().Humanize(LetterCasing.Title)</h1>
<table id="adsgofast_tablelist" class="table table-striped">
    <thead class="thead">
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        var ModelName = "TaskGroup";
        $(document).ready(function () {
            DataTablesGridPrep();
        });
    </script>
}  