@using Humanizer;
@model WebApplication.Models.ScheduleMaster

@{
    ViewData["Title"] = "Create - " + "ScheduleMaster".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4> @("ScheduleMaster".Humanize(LetterCasing.Title))</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleDesciption" class="control-label"></label>
                <input asp-for="ScheduleDesciption" class="form-control" />
                <span asp-validation-for="ScheduleDesciption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleCronExpression" class="control-label"></label>
                <input asp-for="ScheduleCronExpression" class="form-control" />
                <span asp-validation-for="ScheduleCronExpression" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActiveYn" /> @Html.DisplayNameFor(model => model.ActiveYn)
                </label>
            </div>

            <div class="form-group">
                <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary" ><i class="fa fa-arrow-circle-left"></i> Back</a>            
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


