@model IEnumerable<WebApplication.Models.ScheduleMaster>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><i class="fas fa-calendar-week"></i> Schedule Masters</h1>
<table id="adsgofast_tablelist" class="table table-striped">
    <thead class="thead">
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        var ModelName = "ScheduleMaster";
        $(document).ready(function () {
            DataTablesGridPrep();
        });
    </script>
}  