@using Humanizer; 
@model WebApplication.Models.SourceAndTargetSystemsJsonSchema

@{
    ViewData["Title"] = "Edit - " + "SourceAndTargetSystemsJsonSchema".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="alert alert-danger" role="alert">Caution. These records are critical to the application and changes may cause certain features to break.</div>    

<h1>Edit</h1>

<h4> @("SourceAndTargetSystemsJsonSchema".Humanize(LetterCasing.Title))</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SystemType" />
            <div class="form-group">
                <label asp-for="JsonSchema" class="control-label"></label>
                <input asp-for="JsonSchema" class="form-control" />
                <span asp-validation-for="JsonSchema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary" ><i class="fa fa-arrow-circle-left"></i> Back</a>            
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


