@using Humanizer;
@model WebApplication.Models.TaskType

@{
    ViewData["Title"] = "Create - " + "TaskType".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div class="alert alert-danger" role="alert">Caution. These records are critical to the application and changes may cause certain features to break.</div>    

<h1>Create</h1>

<h4> @("TaskType".Humanize(LetterCasing.Title))</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskExecutionType" class="control-label"></label>
                <select asp-for="TaskExecutionType" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(WebApplication.Models.TaskExecutionTypeEnum))">
                    <option>Select type ...</option>
                </select>
                <span asp-validation-for="TaskExecutionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTypeName" class="control-label"></label>
                <input asp-for="TaskTypeName" class="form-control" />
                <span asp-validation-for="TaskTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskTypeJson" class="control-label"></label>
                <input asp-for="TaskTypeJson" class="form-control" />
                <span asp-validation-for="TaskTypeJson" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActiveYn" /> @Html.DisplayNameFor(model => model.ActiveYn)
                </label>
            </div>

            <div class="form-group">
                <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary" ><i class="fa fa-arrow-circle-left"></i> Back</a>            
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


