@using Humanizer; 
@model WebApplication.Models.SubjectArea

@{
    ViewData["Title"] = "Edit - " + "SubjectArea".Humanize(LetterCasing.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4> @("SubjectArea".Humanize(LetterCasing.Title))</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubjectAreaId" />
            <div class="form-group">
                <label asp-for="SubjectAreaName" class="control-label"></label>
                <input asp-for="SubjectAreaName" class="form-control" />
                <span asp-validation-for="SubjectAreaName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ActiveYn" /> @Html.DisplayNameFor(model => model.ActiveYn)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SubjectAreaFormId" class="control-label"></label>
                <input asp-for="SubjectAreaFormId" class="form-control" />
                <span asp-validation-for="SubjectAreaFormId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultTargetSchema" class="control-label"></label>
                <input asp-for="DefaultTargetSchema" class="form-control" />
                <span asp-validation-for="DefaultTargetSchema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="javascript:history.go(-1)" title="Back to List" class="btn btn-secondary" ><i class="fa fa-arrow-circle-left"></i> Back</a>            
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


