@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><i id="PageIcon" class="fas fa-water"></i> Task Master Water Marks</h1>
<table id="adsgofast_tablelist" class="table table-striped">
    <thead class="thead">
        <tr>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        var ModelName = "TaskMasterWaterMark";
        $(document).ready(function () {
            DataTablesGridPrep();
        });
    </script>
}  