/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* titillium-web-regular - latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/titillium-web-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url('../fonts/titillium-web-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/titillium-web-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/titillium-web-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/titillium-web-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/titillium-web-v9-latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/titillium-web-v9-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'), url('../fonts/titillium-web-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/titillium-web-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/titillium-web-v9-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/titillium-web-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/titillium-web-v9-latin-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

header {
    background-color: #F0EEEA;
}

footer {
    background-color: #F0EEEA;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.content-container {
    box-sizing: border-box;
    position: relative;
    width:80%;
    margin: 0 auto;
    clear: both;
    padding: 0 1em;
    box-sizing: border-box;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.header-center {
    width: 82%;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    clear: both;
    padding: 0 1em;
    box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#PageIcon {
    font-size: smaller
}
